body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.mychat {
  text-align: right;
  padding: 5px;
}

.theirchat {
  text-align: left;
  padding: 5px;
}

.noMessages {
  margin: 40px;
}

.deleteButton {
  height: 25px;
}

.del {
  position: relative;
  top: -75%;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  font-size: 60px;
  margin-top: 50px;
}
